nav {
  height: 60px;
  min-width: 20rem;
  max-width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: $red;

  a {
    text-decoration: none;
    color: $yellow;
    font-family: $tagline-font;
    font-size: 1.5em;
    cursor: pointer;
  }
}
